<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../shared/components/headConfig.ejs') %>
    <link rel="stylesheet" href="../dist/404.css" />
  </head>
  <body>
    <!-- Start your project here-->
    <main>
      <div class="face">
        <div class="band">
          <div class="red"></div>
          <div class="white"></div>
          <div class="blue"></div>
        </div>
        <div class="eyes"></div>
        <div class="dimples"></div>
        <div class="mouth"></div>
      </div>

      <h1>Oops! Something went wrong!</h1>
      <a href="/" style="text-decoration: none">
        <div class="btn" href="/">Return to Home</div>
      </a>
    </main>

    <!-- End your project here-->
  </body>
  <script src="../dist/404.js" type="text/javascript"></script>
</html>
