<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../shared/components/headConfig.ejs') %>
    <link rel="stylesheet" href="../dist/contactUs.css" />
  </head>
  <body>
    <!-- Start your project here-->
    <header><%- include('../shared/components/navBar.ejs') %></header>
    <main>
      <section id="aboutus">
        <div class="container py-5 my-5">
          <div class="row">
            <div class="col-md-5">
              <div class="container">
                <img
                  src="../shared/img/aboutus.png"
                  class="w-100"
                  alt="about us"
                />
              </div>
            </div>
            <div class="col-md-7">
              <i class="fas fa-city Aboutus_Icon"></i>
              <h1><b>About Us</b></h1>
              <p>
                Welcome to our website ArabProgrammes we are a group of people
                who try to help in improving your knowledge and skills by giving
                you free coupons from udemy for a limited time every day to help
                you reach your goal and support you with good Tech news and
                articles.
              </p>
              <p>
                We started in 2020 on the Facebook page and today we become
                bigger and started our website in 2022 to be more official and
                near to you so we will be able to help more people not on
                Facebook only but all over the world special Arab country.
              </p>
              <p>
                We Need Your Help you can help us by going to contact us and
                sending any coupon course you found on Udemy which will improve
                us to go forward to help people with more courses.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('../shared/components/footer.ejs') %>
  </body>
</html>
