<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../shared/components/headConfig.ejs') %>
    <link rel="stylesheet" href="../dist/manyRequests.css" />
  </head>
  <body>
    <!-- Start your project here-->
    <main class="container">
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">4</span>
      <span class="particle">2</span>
      <span class="particle">2</span>
      <span class="particle">2</span>
      <span class="particle">2</span>
      <span class="particle">2</span>
      <span class="particle">2</span>
      <span class="particle">2</span>
      <span class="particle">2</span>
      <span class="particle">2</span>
      <span class="particle">2</span>
      <span class="particle">2</span>
      <span class="particle">2</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <span class="particle">9</span>
      <article class="content">
        <p>429,</p>
        <p>Too many requests.</p>
      </article>
    </main>

    <!-- End your project here-->
  </body>
  <script src="../dist/manyRequests.js" type="text/javascript"></script>
</html>
