<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../shared/components/headConfig.ejs') %>
      <link rel="stylesheet" href="../dist/contactUs.css" />
    </head>
  </head>
  <body>
    <!-- Start your project here-->
    <!-- Start your project here-->
    <header><%- include('../shared/components/navBar.ejs') %></header>

    <!--Main layout-->
    <main class="my-5">
      <div class="container py-5">
        <h1><b>Terms of Service</b></h1>
        <p>
          - This privacy policy sets out how arabprogrammes.com uses and
          protects any information that you give arabprogrammes.com when you use
          this website.
        </p>
        <p>
          - arabprogrammes.com is committed to ensuring that your privacy is
          protected. Should we ask you to provide certain information by which
          you can be identified when using this website, then you can be assured
          that it will only be used in accordance with this privacy statement.
        </p>
        <p>
          - arabprogrammes.com may change this policy from time to time by
          updating this page. You should check this page from time to time to
          ensure that you are happy with any changes. This policy is effective
          from 15/7/2022.
        </p>
      </div>
    </main>
    <!--Main layout-->

    <%- include('../shared/components/footer.ejs') %>

    <!-- End your project here-->

    <!-- MDB -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
