<!-- Footer -->
<footer class="bg-light text-center">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        href="https://www.facebook.com/%D8%A8%D8%B1%D8%A7%D9%85%D8%AC-%D8%A7%D9%84%D8%B9%D8%B1%D8%A8-168351040534531/"
        role="button"
        target="_blank"
      >
        <img
          src="https://img.icons8.com/plasticine/50/000000/facebook-new.png"
        />
      </a>

      <!-- Instagram -->
      <a
        href="https://www.instagram.com/arab_program/?fbclid=IwAR28iGaDMb9m8HOxCBu8thPjQcEf85qO1F82Tr5i-vXXoOYjFERShAk6FZ8"
        role="button"
        target="_blank"
      >
        <img
          src="https://img.icons8.com/plasticine/50/000000/instagram-new--v1.png"
        />
      </a>

      <!-- Telegram -->
      <a
        href="https://t.me/ArabProgrammingt?fbclid=IwAR1qLLV22cXA2b41L7fk3tXaGSmLUp1oQfyAwVemNZ-cziMuqOQtJ8g3Tnw"
        role="button"
        target="_blank"
      >
        <img
          src="https://img.icons8.com/plasticine/50/000000/telegram-app.png"
        />
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center copyright p-3" style="background-color: #964a84">
    © 2022 Copyright:
    <a class="copyright" href="/policy">Terms</a> and
    <a class="copyright" href="/policy">Privacy Policy</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
