<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand mx-3" href="/">
      <img
        src="../shared/img/logo.png"
        class="me-2"
        height="40"
        alt="MDB Logo"
        loading="lazy"
      />
      <b>ArabPrograms</b></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mx-3">
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item mx-3">
          <a href="/blogs" class="nav-link">Blogs</a>
        </li>
        <li class="nav-item mx-3">
          <a href="/aboutUs" class="nav-link">About Us</a>
        </li>
        <li class="nav-item mx-3">
          <a href="/contactUs" class="nav-link">Contact US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
